<footer class="crypto-section contacts-section" id="section8">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-md-10 d-flex align-items-center crypto-section__content">
                <div class="row w-100">
                    <div class="col-md-12 col-lg-4 wow fadeInUpBig" data-wow-duration="1.6s">
                        <h1 class="title">Visit our<br><span> Discord</span></h1>
                        <div class="contacts-section__info">
                            <h4 class="text-uppercase">placeholder</h4>
                            <p>
                                placeholder
                            </p>
                        </div>
                        <ul class="list-unstyled contacts-section__meta">
                            <li class="d-flex justify-content-start">
                                <span>Email</span>
                                <a href="mailto:this@isit.info">placeholder</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- floating lines -->
                <div class="line line-xl"></div>
                <div class="line line-mp"></div>
            </div>
        </div>
    </div>
</footer>