<nav class="navbar fixed-right navbar-expand-lg">
    <!-- mobile navbar toggler -->
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-menu"
        aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-menu">
        <!-- main menu -->
        <ul class="navbar-nav" id="menu">
            <li class="nav-item active" data-menuanchor="home">
                <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item" data-menuanchor="about">
                <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item" data-menuanchor="distribution">
                <a class="nav-link" href="#distribution">Distribution</a>
            </li>
            <li class="nav-item" data-menuanchor="exchanges">
                <a class="nav-link" href="#exchanges">Exchanges</a>
            </li>
            <li class="nav-item" data-menuanchor="wallets">
                <a class="nav-link" href="#wallets">Wallets</a>
            </li>
        </ul>
        <!-- social icons -->
        <!--  <ul class="list-inline mb-0 social-icons">
            <li class="list-inline-item">
                <a href="#"><i class="fab fa-facebook-square"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#"><i class="fab fa-youtube"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#"><i class="fab fa-google-play"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#"><i class="fab fa-medium"></i></a>
            </li>
        </ul>-->
    </div>
    <!-- video play line-->
    <div class="line-play">
        <a href="https://discord.gg/s9ymqyG4Vu" target="_blank" class="btnPlay"></a>
    </div>
</nav>