<nav class="navbar fixed-right navbar-expand-lg">
    <!-- mobile navbar toggler -->
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-menu"
        aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-menu">
        <!-- main menu -->
        <ul class="navbar-nav" id="menu">
            <li class="nav-item active" data-menuanchor="platform">
                <a class="nav-link" href="#platform">Home</a>
            </li>
            <!--     <li class="nav-item" data-menuanchor="token-view">
                <a class="nav-link" href="#token-view">Token Distribution</a>
            </li>
            <li class="nav-item" data-menuanchor="roadmap">
                <a class="nav-link" href="#roadmap">Roadmap</a>
            </li>
            <li class="nav-item" data-menuanchor="team">
                <a class="nav-link" href="#team">Team</a>
            </li>
            <li class="nav-item" data-menuanchor="trending">
                <a class="nav-link" href="#trending">Trending</a>
            </li>
            <li class="nav-item" data-menuanchor="partners">
                <a class="nav-link" href="#partners">Partners</a>
            </li>
            <li class="nav-item" data-menuanchor="app">
                <a class="nav-link" href="#app">Wallets</a>
            </li>
            <li class="nav-item" data-menuanchor="faq">
                <a class="nav-link" href="#faq">FAQ</a>
            </li>
            <li class="nav-item" data-menuanchor="contact">
                <a class="nav-link" href="#contact">Community</a>
            </li>-->
        </ul>
        <!-- social icons -->
        <!--  <ul class="list-inline mb-0 social-icons">
            <li class="list-inline-item">
                <a href="#"><i class="fab fa-facebook-square"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#"><i class="fab fa-youtube"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#"><i class="fab fa-google-play"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#"><i class="fab fa-medium"></i></a>
            </li>
        </ul>-->
    </div>
    <!-- video play line-->
    <div class="line-play">
        <a href="https://discord.gg/s9ymqyG4Vu" target="_blank" class="btnPlay"></a>
    </div>
</nav>