<section class="crypto-section about-section" id="about">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-md-10 d-flex align-items-center crypto-section__content">
                <!-- about -->
                <div class="row w-100 align-items-center">
                    <!-- hex content -->
                    <div class="col-md-12 col-lg-6 col-xl-6 wow fadeInUpBig" data-wow-duration="1.7s">
                        <div class="hex-content first">
                            <!-- center-logo -->
                            <div class="hex-content__center">
                                <img src="./../../img/bark9-trans.png" alt="cryptdojo-logo" class="img-fluid">
                            </div>
                            <!-- dotted lines -->
                            <span class="hex-content__line"></span>
                            <span class="hex-content__line"></span>
                            <span class="hex-content__line"></span>
                            <!-- titles -->
                            <span class="text-center hex-content__title">
                                ASLP Technology
                            </span>
                            <span class="text-center hex-content__title">
                                ARK Blockchain
                            </span>
                            <span class="text-center hex-content__title">
                                No ICO
                            </span>
                            <span class="text-center hex-content__title">
                                Community Driven
                            </span>
                            <span class="text-center hex-content__title">
                                Good Vibe
                            </span>
                            <span class="text-center hex-content__title">
                                No Cats
                            </span>
                        </div>
                    </div>

                    <!-- about text -->
                    <div class="col-md-12 col-lg-6 col-xl-4 about__description wow fadeInUpBig" data-wow-duration="1.7s"
                        data-wow-delay=".2s">
                        <h1 class="title">What is b<span>ARK</span></h1>
                        <span class="subtitle">
                            bARK is the first meme token on the ARK blockchain using the ARK Side Ledger Protocol (ASLP)
                        </span>
                        <p>
                            bARK is a community-driven project with good vibes.
                        </p>
                        <p>
                            If your cat farts. Then come and join us, because we have something less toxic to spread.
                            <br>Follow our social media channels to participate in airdrops.
                        </p>
                    </div>
                </div>
                <!-- floating lines -->
                <div class="line line-xl"></div>
                <div class="line line-mp"></div>
            </div>
        </div>
    </div>
</section>