<section class="crypto-section platform-section">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-md-10 d-flex align-items-center crypto-section__content">
                <!-- buy & sell shares  -->
                <div class="row w-100 align-items-center">
                    <!-- text -->
                    <div class="col-md-12 col-lg-6 offset-xl-2 col-xl-4 about__description wow fadeInUpBig"
                        data-wow-duration="1.7s" data-wow-delay=".2s">
                        <h1 class="title">title <br> <span>placeholder</span> placeholder</h1>
                        <span class="subtitle">
                            placeholder
                        </span>
                    </div>

                    <!-- hex content -->
                    <div class="col-md-12 col-lg-6 wow fadeInUpBig" data-wow-duration="1.7s">
                        <div class="hex-content last">
                            <!-- center-logo -->
                            <div class="hex-content__center">
                                <img src="images/logo-red.svg" alt="cryptdojo-logo" class="img-fluid">
                            </div>
                            <!-- dotted lines -->
                            <span class="hex-content__line"></span>
                            <span class="hex-content__line"></span>
                            <span class="hex-content__line"></span>
                            <!-- icons -->
                            <span class="text-center hex-content__icon">
                                <i class="icon icon-strategy"></i>
                            </span>
                            <span class="text-center hex-content__icon">
                                <i class="icon icon-telescope"></i>
                            </span>
                            <span class="text-center hex-content__icon">
                                <i class="icon icon-attachment"></i>
                            </span>
                            <span class="text-center hex-content__icon">
                                <i class="icon icon-mobile"></i>
                            </span>
                            <span class="text-center hex-content__icon">
                                <i class="icon icon-circle-compass"></i>
                            </span>
                            <span class="text-center hex-content__icon">
                                <i class="icon icon-lock"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- floating lines -->
                <div class="line line-xl"></div>
                <div class="line line-mp"></div>
            </div>
        </div>
    </div>
</section>