<section class="crypto-section team-section" id="section3">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-md-10 d-flex flex-column justify-content-center crypto-section__content">
                <div class="row w-100">
                    <div class="col-md-12 text-center">
                        <h1 class="section-title title">The <span>Team</span></h1>
                    </div>
                </div>
                <!-- team members -->
                <div class="row w-100 wow fadeInUp" data-wow-duration="1.6s">
                    <div class="col-md-6 col-xl-3">
                        <div class="d-flex align-items-center team-section__member">
                            <div class="team-section__member-face">
                                <div class="face-mask" data-bg="http://via.placeholder.com/150x150/333333">
                                </div>
                                <img src="http://via.placeholder.com/150x150" alt="team-member-face" class="img-fluid">
                            </div>
                            <div class="team-section__member-meta">
                                <h5 class="name">John Doe</h5>
                                <span class="function">CEO</span>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-medium"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="d-flex align-items-center team-section__member">
                            <div class="team-section__member-face">
                                <div class="face-mask" data-bg="http://via.placeholder.com/150x150/333333">
                                </div>
                                <img src="http://via.placeholder.com/150x150" alt="team-member-face" class="img-fluid">
                            </div>
                            <div class="team-section__member-meta">
                                <h5 class="name">Floyd Johnson</h5>
                                <span class="function">CTO</span>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-medium"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="d-flex align-items-center team-section__member">
                            <div class="team-section__member-face">
                                <div class="face-mask" data-bg="http://via.placeholder.com/150x150/333333">
                                </div>
                                <img src="http://via.placeholder.com/150x150" alt="team-member-face" class="img-fluid">
                            </div>
                            <div class="team-section__member-meta">
                                <h5 class="name">Tanya Shelby</h5>
                                <span class="function">Marketing Manager</span>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-medium"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="d-flex align-items-center team-section__member">
                            <div class="team-section__member-face">
                                <div class="face-mask" data-bg="http://via.placeholder.com/150x150/333333">
                                </div>
                                <img src="http://via.placeholder.com/150x150" alt="team-member-face" class="img-fluid">
                            </div>
                            <div class="team-section__member-meta">
                                <h5 class="name">Adda Shelby</h5>
                                <span class="function">Sales Manager</span>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-medium"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="d-flex align-items-center team-section__member">
                            <div class="team-section__member-face">
                                <div class="face-mask" data-http://via.placeholder.com/150x150/333333.jpg">
                                </div>
                                <img src="http://via.placeholder.com/150x150" alt="team-member-face" class="img-fluid">
                            </div>
                            <div class="team-section__member-meta">
                                <h5 class="name">Danny Kimber</h5>
                                <span class="function">Human Resources</span>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-medium"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row w-100">
                    <div class="col-md-12 text-center">
                        <h1 class="section-title title">The Advisory <span>Team</span></h1>
                    </div>
                </div>
                <!-- advisers team members -->
                <div class="row w-100 wow fadeInUp" data-wow-duration="1.6s" data-wow-delay=".2s">
                    <div class="col-md-6 col-xl-3">
                        <div class="d-flex align-items-center team-section__member">
                            <div class="team-section__member-face">
                                <div class="face-mask" data-bg="http://via.placeholder.com/150x150/333333">
                                </div>
                                <img src="http://via.placeholder.com/150x150" alt="team-member-face" class="img-fluid">
                            </div>
                            <div class="team-section__member-meta">
                                <h5 class="name">John Doe</h5>
                                <span class="function">CEO</span>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-medium"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="d-flex align-items-center team-section__member">
                            <div class="team-section__member-face">
                                <div class="face-mask" data-bg="http://via.placeholder.com/150x150/333333">
                                </div>
                                <img src="http://via.placeholder.com/150x150" alt="team-member-face" class="img-fluid">
                            </div>
                            <div class="team-section__member-meta">
                                <h5 class="name">Floyd Johnson</h5>
                                <span class="function">CTO</span>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-medium"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="d-flex align-items-center team-section__member">
                            <div class="team-section__member-face">
                                <div class="face-mask" data-bg="http://via.placeholder.com/150x150/333333">
                                </div>
                                <img src="http://via.placeholder.com/150x150" alt="team-member-face" class="img-fluid">
                            </div>
                            <div class="team-section__member-meta">
                                <h5 class="name">Tanya Shelby</h5>
                                <span class="function">Marketing Manager</span>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-medium"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="d-flex align-items-center team-section__member">
                            <div class="team-section__member-face">
                                <div class="face-mask" data-bg="http://via.placeholder.com/150x150/333333">
                                </div>
                                <img src="http://via.placeholder.com/150x150" alt="team-member-face" class="img-fluid">
                            </div>
                            <div class="team-section__member-meta">
                                <h5 class="name">Adda Shelby</h5>
                                <span class="function">Sales Manager</span>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank"><i class="fab fa-medium"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>