<section class="crypto-section token-section" id="distribution">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div
                class="col-md-10 d-flex flex-column justify-content-between align-items-center crypto-section__content">
                <div class="row w-100">
                    <div class="col-md-12 text-center">
                        <h1 class="section-title title">b<span>ARK</span> Distribution</h1>
                    </div>
                </div>
                <div class="row w-100">
                    <div class="col-md-12">
                        <div class="token-sale__graph">
                            <div class="token-sale__graph-ico"></div>
                            <div class="token-sale__graph-ico__shadow"></div>
                            <div class="text-center token-sale__graph-info">
                                <h5>10% bARK</h5>
                                <span>Active ARK voters</span>
                            </div>
                            <div class="text-center token-sale__graph-info">
                                <h5>40% bARK</h5>
                                <span>Social Media Activities</span>
                            </div>
                            <div class="text-center token-sale__graph-info">
                                <h5>25% bARK</h5>
                                <span>Random Airdrops</span>
                            </div>
                            <div class="text-center token-sale__graph-info">
                                <h5>25% bARK</h5>
                                <span>Contributors to bARK and ARK</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100">

                    <!-- sale timer countdown -->
                    <div class="col-md-12 col-lg-12 text-center token-sale__time">
                        <!-- !!!data countdown: change your countdown timer -->

                        <p>This is how we aim to distribute bARK tokens. <br>Any funds potentially earned through the
                            bARK
                            project will be donated towards <a href="https://deafdogsrock.com/" target="_blank">"Deaf
                                Dogs Rock"</a> </p>
                    </div>

                </div>
                <!-- call to action btn -->
                <div class="row w-100">
                    <div class="col-md-12 text-center">
                        <a href="https://discord.gg/s9ymqyG4Vu" target="_blank" class="btn btn-danger">Join us on
                            Discord</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>