           <section class="crypto-section faq-section" id="section7">
                <div class="container-fluid h-100">
                    <div class="row h-100">
                        <div class="col-md-10 d-flex crypto-section__content">
                            <div class="row w-100 align-items-center">
                                <div class="col-md-12 col-lg-4 col-xl-4 wow fadeInLeftBig" data-wow-duration="1.6s">
                                    <h1 class="title">Frequently <br>Asked <br> <span>Questions</span></h1>

                                    <!-- vertical tabs -->
                                    <div class="nav align-items-start nav-pills" id="faqTabs" role="tablist"
                                        aria-orientation="vertical">
                                        <a class="nav-link active" id="faq-intro-tab" data-toggle="pill"
                                            href="#faq-intro" role="tab" aria-controls="faq-intro"
                                            aria-selected="true">Introductory</a>
                                        <a class="nav-link" id="faq-sale-tab" data-toggle="pill" href="#faq-sale"
                                            role="tab" aria-controls="faq-sale" aria-selected="false">Pre-sale
                                            Related</a>
                                        <a class="nav-link" id="faq-marketing-tab" data-toggle="pill"
                                            href="#faq-marketing" role="tab" aria-controls="faq-marketing"
                                            aria-selected="false">Marketing</a>
                                        <a class="nav-link" id="faq-aspects-tab" data-toggle="pill" href="#faq-aspects"
                                            role="tab" aria-controls="faq-aspects" aria-selected="false">Legal
                                            Aspects</a>
                                    </div>
                                    <!-- /vertical tabs -->
                                </div>
                                <div class="col-md-12 col-lg-8 offset-xl-1 col-xl-7 wow fadeInRightBig"
                                    data-wow-duration="1.7s">
                                    <div class="tab-content" id="faqTabsContent">
                                        <div class="tab-pane fade show active" id="faq-intro" role="tabpanel"
                                            aria-labelledby="faq-intro-tab">
                                            <div id="intro-accordion">
                                                <div class="card">
                                                    <div class="card-header" id="headingOne">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link" data-toggle="collapse"
                                                                data-target="#collapseOne" aria-expanded="true"
                                                                aria-controls="collapseOne">
                                                                The first main introductory question?
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseOne" class="collapse show"
                                                        aria-labelledby="headingOne" data-parent="#intro-accordion">
                                                        <div class="card-body">
                                                            <p>
                                                                And here goes the answer! Once your get to be a member
                                                                of our community, you’re in. Get access to our apps on
                                                                your beloved platform.
                                                            </p>
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                                                elit, sed do eiusmod tempor incididunt ut labore et
                                                                dolore magna aliqua. Ut enim ad minim veniam, quis
                                                                nostrud exercitation ullamco laboris nisi ut aliquip ex
                                                                ea commodo consequat. Duis aute irure dolor in
                                                                reprehenderit in voluptate velit esse cillum dolore eu
                                                                fugiat nulla pariatur.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingTwo">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link collapsed"
                                                                data-toggle="collapse" data-target="#collapseTwo"
                                                                aria-expanded="false" aria-controls="collapseTwo">
                                                                Right - and what’s in it for me?
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                                        data-parent="#intro-accordion">
                                                        <div class="card-body">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                                                elit, sed do eiusmod tempor incididunt ut labore et
                                                                dolore magna aliqua.
                                                            </p>
                                                            <ul class="list-unstyled">
                                                                <li>Morbi at urna convallis, imperdiet justo a,
                                                                    consectetur orci.</li>
                                                                <li>Aenean fermentum risus non lacus consequat, lobortis
                                                                    pellentesque ipsum vestibulum.</li>
                                                                <li>Nunc facilisis mauris sed auctor tincidunt.</li>
                                                                <li>Proin pharetra nisl nec dui blandit accumsan.</li>
                                                            </ul>
                                                            <p>
                                                                Nunc sollicitudin odio at nisi sollicitudin auctor.
                                                                Pellentesque efficitur, erat et rhoncus sollicitudin,
                                                                lectus neque blandit nulla, in pharetra dui dolor quis
                                                                purus.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingThree">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link collapsed"
                                                                data-toggle="collapse" data-target="#collapseThree"
                                                                aria-expanded="false" aria-controls="collapseThree">
                                                                And more and more?
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseThree" class="collapse"
                                                        aria-labelledby="headingThree" data-parent="#intro-accordion">
                                                        <div class="card-body">
                                                            <ul class="list-unstyled">
                                                                <li>Morbi at urna convallis, imperdiet justo a,
                                                                    consectetur orci.</li>
                                                                <li>Aenean fermentum risus non lacus consequat, lobortis
                                                                    pellentesque ipsum vestibulum.</li>
                                                                <li>Nunc facilisis mauris sed auctor tincidunt.</li>
                                                                <li>Proin pharetra nisl nec dui blandit accumsan.</li>
                                                            </ul>
                                                            <p>
                                                                Nunc sollicitudin odio at nisi sollicitudin auctor.
                                                                Pellentesque efficitur, erat et rhoncus sollicitudin,
                                                                lectus neque blandit nulla, in pharetra dui dolor quis
                                                                purus.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingFour">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link collapsed"
                                                                data-toggle="collapse" data-target="#collapseFour"
                                                                aria-expanded="false" aria-controls="collapseFour">
                                                                And more and more?
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseFour" class="collapse"
                                                        aria-labelledby="headingFour" data-parent="#intro-accordion">
                                                        <div class="card-body">
                                                            <p>
                                                                Nunc sollicitudin odio at nisi sollicitudin auctor.
                                                                Pellentesque efficitur, erat et rhoncus sollicitudin,
                                                                lectus neque blandit nulla, in pharetra dui dolor quis
                                                                purus.
                                                            </p>
                                                            <p>
                                                                Proin rhoncus laoreet nisi, at condimentum magna
                                                                scelerisque in. Proin rutrum vehicula diam, sed euismod
                                                                mi. Pellentesque vel urna eget odio sollicitudin
                                                                consectetur ac a mauris.
                                                            </p>
                                                            <p>
                                                                Vestibulum pharetra dolor id interdum dapibus.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingFive">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link collapsed"
                                                                data-toggle="collapse" data-target="#collapseFive"
                                                                aria-expanded="false" aria-controls="collapseFive">
                                                                Yeah - I am still looking for answers?
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseFive" class="collapse"
                                                        aria-labelledby="headingFive" data-parent="#intro-accordion">
                                                        <div class="card-body">
                                                            <p>
                                                                Proin rhoncus laoreet nisi, at condimentum magna
                                                                scelerisque in. Proin rutrum vehicula diam, sed euismod
                                                                mi. Pellentesque vel urna eget odio sollicitudin
                                                                consectetur ac a mauris.
                                                            </p>
                                                            <p>
                                                                Vestibulum pharetra dolor id interdum dapibus.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingSix">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link collapsed"
                                                                data-toggle="collapse" data-target="#collapseSix"
                                                                aria-expanded="false" aria-controls="collapseSix">
                                                                Ok - and the last question is?
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                                        data-parent="#intro-accordion">
                                                        <div class="card-body">
                                                            <p>
                                                                Proin rhoncus laoreet nisi, at condimentum magna
                                                                scelerisque in. Proin rutrum vehicula diam, sed euismod
                                                                mi. Pellentesque vel urna eget odio sollicitudin
                                                                consectetur ac a mauris.
                                                            </p>
                                                            <p>
                                                                Sed lobortis elementum porttitor. Phasellus eros lectus,
                                                                ullamcorper eu faucibus quis, bibendum eget diam. In
                                                                posuere venenatis quam, nec ultricies ipsum viverra non.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="faq-sale" role="tabpanel"
                                            aria-labelledby="faq-sale-tab">
                                            <div id="sale-accordion">
                                                <div class="card">
                                                    <div class="card-header" id="headingSone">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link" data-toggle="collapse"
                                                                data-target="#collapseSone" aria-expanded="true"
                                                                aria-controls="collapseSone">
                                                                The first main introductory question?
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseSone" class="collapse show"
                                                        aria-labelledby="headingSone" data-parent="#sale-accordion">
                                                        <div class="card-body">
                                                            <p>
                                                                And here goes the answer! Once your get to be a member
                                                                of our community, you’re in. Get access to our apps on
                                                                your beloved platform.
                                                            </p>
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                                                elit, sed do eiusmod tempor incididunt ut labore et
                                                                dolore magna aliqua. Ut enim ad minim veniam, quis
                                                                nostrud exercitation ullamco laboris nisi ut aliquip ex
                                                                ea commodo consequat. Duis aute irure dolor in
                                                                reprehenderit in voluptate velit esse cillum dolore eu
                                                                fugiat nulla pariatur.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingStwo">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link collapsed"
                                                                data-toggle="collapse" data-target="#collapseStwo"
                                                                aria-expanded="false" aria-controls="collapseStwo">
                                                                Right - and what’s in it for me?
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseStwo" class="collapse"
                                                        aria-labelledby="headingStwo" data-parent="#sale-accordion">
                                                        <div class="card-body">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                                                elit, sed do eiusmod tempor incididunt ut labore et
                                                                dolore magna aliqua.
                                                            </p>
                                                            <ul class="list-unstyled">
                                                                <li>Morbi at urna convallis, imperdiet justo a,
                                                                    consectetur orci.</li>
                                                                <li>Aenean fermentum risus non lacus consequat, lobortis
                                                                    pellentesque ipsum vestibulum.</li>
                                                                <li>Nunc facilisis mauris sed auctor tincidunt.</li>
                                                                <li>Proin pharetra nisl nec dui blandit accumsan.</li>
                                                            </ul>
                                                            <p>
                                                                Nunc sollicitudin odio at nisi sollicitudin auctor.
                                                                Pellentesque efficitur, erat et rhoncus sollicitudin,
                                                                lectus neque blandit nulla, in pharetra dui dolor quis
                                                                purus.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingSthree">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link collapsed"
                                                                data-toggle="collapse" data-target="#collapseSthree"
                                                                aria-expanded="false" aria-controls="collapseSthree">
                                                                And more and more?
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseSthree" class="collapse"
                                                        aria-labelledby="headingSthree" data-parent="#sale-accordion">
                                                        <div class="card-body">
                                                            <ul class="list-unstyled">
                                                                <li>Morbi at urna convallis, imperdiet justo a,
                                                                    consectetur orci.</li>
                                                                <li>Aenean fermentum risus non lacus consequat, lobortis
                                                                    pellentesque ipsum vestibulum.</li>
                                                                <li>Nunc facilisis mauris sed auctor tincidunt.</li>
                                                                <li>Proin pharetra nisl nec dui blandit accumsan.</li>
                                                            </ul>
                                                            <p>
                                                                Nunc sollicitudin odio at nisi sollicitudin auctor.
                                                                Pellentesque efficitur, erat et rhoncus sollicitudin,
                                                                lectus neque blandit nulla, in pharetra dui dolor quis
                                                                purus.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingSsix">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link collapsed"
                                                                data-toggle="collapse" data-target="#collapseSsix"
                                                                aria-expanded="false" aria-controls="collapseSsix">
                                                                Ok - and the last question is?
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseSsix" class="collapse"
                                                        aria-labelledby="headingSsix" data-parent="#sale-accordion">
                                                        <div class="card-body">
                                                            <p>
                                                                Proin rhoncus laoreet nisi, at condimentum magna
                                                                scelerisque in. Proin rutrum vehicula diam, sed euismod
                                                                mi. Pellentesque vel urna eget odio sollicitudin
                                                                consectetur ac a mauris.
                                                            </p>
                                                            <p>
                                                                Sed lobortis elementum porttitor. Phasellus eros lectus,
                                                                ullamcorper eu faucibus quis, bibendum eget diam. In
                                                                posuere venenatis quam, nec ultricies ipsum viverra non.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="faq-marketing" role="tabpanel"
                                            aria-labelledby="faq-marketing-tab">
                                            <div id="marketing-accordion">
                                                <div class="card">
                                                    <div class="card-header" id="headingMone">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link" data-toggle="collapse"
                                                                data-target="#collapseMone" aria-expanded="true"
                                                                aria-controls="collapseMone">
                                                                The first main introductory question?
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseMone" class="collapse show"
                                                        aria-labelledby="headingMone"
                                                        data-parent="#marketing-accordion">
                                                        <div class="card-body">
                                                            <p>
                                                                And here goes the answer! Once your get to be a member
                                                                of our community, you’re in. Get access to our apps on
                                                                your beloved platform.
                                                            </p>
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                                                elit, sed do eiusmod tempor incididunt ut labore et
                                                                dolore magna aliqua. Ut enim ad minim veniam, quis
                                                                nostrud exercitation ullamco laboris nisi ut aliquip ex
                                                                ea commodo consequat. Duis aute irure dolor in
                                                                reprehenderit in voluptate velit esse cillum dolore eu
                                                                fugiat nulla pariatur.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingMtwo">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link collapsed"
                                                                data-toggle="collapse" data-target="#collapseMtwo"
                                                                aria-expanded="false" aria-controls="collapseMtwo">
                                                                Right - and what’s in it for me?
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseMtwo" class="collapse"
                                                        aria-labelledby="headingMtwo"
                                                        data-parent="#marketing-accordion">
                                                        <div class="card-body">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                                                elit, sed do eiusmod tempor incididunt ut labore et
                                                                dolore magna aliqua.
                                                            </p>
                                                            <ul class="list-unstyled">
                                                                <li>Morbi at urna convallis, imperdiet justo a,
                                                                    consectetur orci.</li>
                                                                <li>Aenean fermentum risus non lacus consequat, lobortis
                                                                    pellentesque ipsum vestibulum.</li>
                                                                <li>Nunc facilisis mauris sed auctor tincidunt.</li>
                                                                <li>Proin pharetra nisl nec dui blandit accumsan.</li>
                                                            </ul>
                                                            <p>
                                                                Nunc sollicitudin odio at nisi sollicitudin auctor.
                                                                Pellentesque efficitur, erat et rhoncus sollicitudin,
                                                                lectus neque blandit nulla, in pharetra dui dolor quis
                                                                purus.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingMthree">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link collapsed"
                                                                data-toggle="collapse" data-target="#collapseMthree"
                                                                aria-expanded="false" aria-controls="collapseMthree">
                                                                And more and more?
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseMthree" class="collapse"
                                                        aria-labelledby="headingMthree"
                                                        data-parent="#marketing-accordion">
                                                        <div class="card-body">
                                                            <ul class="list-unstyled">
                                                                <li>Morbi at urna convallis, imperdiet justo a,
                                                                    consectetur orci.</li>
                                                                <li>Aenean fermentum risus non lacus consequat, lobortis
                                                                    pellentesque ipsum vestibulum.</li>
                                                                <li>Nunc facilisis mauris sed auctor tincidunt.</li>
                                                                <li>Proin pharetra nisl nec dui blandit accumsan.</li>
                                                            </ul>
                                                            <p>
                                                                Nunc sollicitudin odio at nisi sollicitudin auctor.
                                                                Pellentesque efficitur, erat et rhoncus sollicitudin,
                                                                lectus neque blandit nulla, in pharetra dui dolor quis
                                                                purus.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingMfour">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link collapsed"
                                                                data-toggle="collapse" data-target="#collapseMfour"
                                                                aria-expanded="false" aria-controls="collapseMfour">
                                                                And more and more?
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseMfour" class="collapse"
                                                        aria-labelledby="headingMfour"
                                                        data-parent="#marketing-accordion">
                                                        <div class="card-body">
                                                            <p>
                                                                Nunc sollicitudin odio at nisi sollicitudin auctor.
                                                                Pellentesque efficitur, erat et rhoncus sollicitudin,
                                                                lectus neque blandit nulla, in pharetra dui dolor quis
                                                                purus.
                                                            </p>
                                                            <p>
                                                                Proin rhoncus laoreet nisi, at condimentum magna
                                                                scelerisque in. Proin rutrum vehicula diam, sed euismod
                                                                mi. Pellentesque vel urna eget odio sollicitudin
                                                                consectetur ac a mauris.
                                                            </p>
                                                            <p>
                                                                Vestibulum pharetra dolor id interdum dapibus.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingMfive">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link collapsed"
                                                                data-toggle="collapse" data-target="#collapseMfive"
                                                                aria-expanded="false" aria-controls="collapseMfive">
                                                                Yeah - I am still looking for answers?
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseMfive" class="collapse"
                                                        aria-labelledby="headingMfive"
                                                        data-parent="#marketing-accordion">
                                                        <div class="card-body">
                                                            <p>
                                                                Proin rhoncus laoreet nisi, at condimentum magna
                                                                scelerisque in. Proin rutrum vehicula diam, sed euismod
                                                                mi. Pellentesque vel urna eget odio sollicitudin
                                                                consectetur ac a mauris.
                                                            </p>
                                                            <p>
                                                                Vestibulum pharetra dolor id interdum dapibus.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingMsix">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link collapsed"
                                                                data-toggle="collapse" data-target="#collapseMsix"
                                                                aria-expanded="false" aria-controls="collapseMsix">
                                                                Ok - and the last question is?
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseMsix" class="collapse"
                                                        aria-labelledby="headingMsix"
                                                        data-parent="#marketing-accordion">
                                                        <div class="card-body">
                                                            <p>
                                                                Proin rhoncus laoreet nisi, at condimentum magna
                                                                scelerisque in. Proin rutrum vehicula diam, sed euismod
                                                                mi. Pellentesque vel urna eget odio sollicitudin
                                                                consectetur ac a mauris.
                                                            </p>
                                                            <p>
                                                                Sed lobortis elementum porttitor. Phasellus eros lectus,
                                                                ullamcorper eu faucibus quis, bibendum eget diam. In
                                                                posuere venenatis quam, nec ultricies ipsum viverra non.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="faq-aspects" role="tabpanel"
                                            aria-labelledby="faq-aspects-tab">
                                            <div id="aspects-accordion">
                                                <div class="card">
                                                    <div class="card-header" id="headingAone">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link" data-toggle="collapse"
                                                                data-target="#collapseAone" aria-expanded="true"
                                                                aria-controls="collapseAone">
                                                                The first main introductory question?
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseAone" class="collapse show"
                                                        aria-labelledby="headingAone" data-parent="#aspects-accordion">
                                                        <div class="card-body">
                                                            <p>
                                                                And here goes the answer! Once your get to be a member
                                                                of our community, you’re in. Get access to our apps on
                                                                your beloved platform.
                                                            </p>
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                                                elit, sed do eiusmod tempor incididunt ut labore et
                                                                dolore magna aliqua. Ut enim ad minim veniam, quis
                                                                nostrud exercitation ullamco laboris nisi ut aliquip ex
                                                                ea commodo consequat. Duis aute irure dolor in
                                                                reprehenderit in voluptate velit esse cillum dolore eu
                                                                fugiat nulla pariatur.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingAtwo">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link collapsed"
                                                                data-toggle="collapse" data-target="#collapseAtwo"
                                                                aria-expanded="false" aria-controls="collapseAtwo">
                                                                Right - and what’s in it for me?
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseAtwo" class="collapse"
                                                        aria-labelledby="headingAtwo" data-parent="#aspects-accordion">
                                                        <div class="card-body">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                                                elit, sed do eiusmod tempor incididunt ut labore et
                                                                dolore magna aliqua.
                                                            </p>
                                                            <ul class="list-unstyled">
                                                                <li>Morbi at urna convallis, imperdiet justo a,
                                                                    consectetur orci.</li>
                                                                <li>Aenean fermentum risus non lacus consequat, lobortis
                                                                    pellentesque ipsum vestibulum.</li>
                                                                <li>Nunc facilisis mauris sed auctor tincidunt.</li>
                                                                <li>Proin pharetra nisl nec dui blandit accumsan.</li>
                                                            </ul>
                                                            <p>
                                                                Nunc sollicitudin odio at nisi sollicitudin auctor.
                                                                Pellentesque efficitur, erat et rhoncus sollicitudin,
                                                                lectus neque blandit nulla, in pharetra dui dolor quis
                                                                purus.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingAthree">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link collapsed"
                                                                data-toggle="collapse" data-target="#collapseAthree"
                                                                aria-expanded="false" aria-controls="collapseAthree">
                                                                And more and more?
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseAthree" class="collapse"
                                                        aria-labelledby="headingAthree"
                                                        data-parent="#aspects-accordion">
                                                        <div class="card-body">
                                                            <ul class="list-unstyled">
                                                                <li>Morbi at urna convallis, imperdiet justo a,
                                                                    consectetur orci.</li>
                                                                <li>Aenean fermentum risus non lacus consequat, lobortis
                                                                    pellentesque ipsum vestibulum.</li>
                                                                <li>Nunc facilisis mauris sed auctor tincidunt.</li>
                                                                <li>Proin pharetra nisl nec dui blandit accumsan.</li>
                                                            </ul>
                                                            <p>
                                                                Nunc sollicitudin odio at nisi sollicitudin auctor.
                                                                Pellentesque efficitur, erat et rhoncus sollicitudin,
                                                                lectus neque blandit nulla, in pharetra dui dolor quis
                                                                purus.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingAfour">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link collapsed"
                                                                data-toggle="collapse" data-target="#collapseAfour"
                                                                aria-expanded="false" aria-controls="collapseAfour">
                                                                And more and more?
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseAfour" class="collapse"
                                                        aria-labelledby="headingAfour" data-parent="#aspects-accordion">
                                                        <div class="card-body">
                                                            <p>
                                                                Nunc sollicitudin odio at nisi sollicitudin auctor.
                                                                Pellentesque efficitur, erat et rhoncus sollicitudin,
                                                                lectus neque blandit nulla, in pharetra dui dolor quis
                                                                purus.
                                                            </p>
                                                            <p>
                                                                Proin rhoncus laoreet nisi, at condimentum magna
                                                                scelerisque in. Proin rutrum vehicula diam, sed euismod
                                                                mi. Pellentesque vel urna eget odio sollicitudin
                                                                consectetur ac a mauris.
                                                            </p>
                                                            <p>
                                                                Vestibulum pharetra dolor id interdum dapibus.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- floating lines -->
                            <div class="line line-xl"></div>
                            <div class="line line-mp"></div>
                        </div>
                    </div>
                </div>
            </section>