<section class="crypto-section platform-section" id="section0">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-md-10 d-flex align-items-center crypto-section__content">
                <!-- introduction -->
                <div class="row w-100 align-items-center">
                    <div class="col-md-12 col-xl-6">
                        <!-- The title -->
                        <h1 class="title">b<span>ARK</span> Project
                        </h1>

                        <!-- The text -->
                        <span class="subtitle">
                            The first meme token on the ARK Blockchain.<br>
                            100% driven by good vibes and community engagement!
                        </span>

                        <!-- The buttons -->
                        <ul class="list-inline btn-group">
                            <li>
                                <a class="btn btn-danger"
                                    href="https://ark.explorer.sh/token/8259ce077b1e767227e5e0fce590d26d"
                                    target="_blank">View ASLP-1 Contract</a>
                            </li>
                            <li>
                                <a class="btn btn-primary" href="https://discord.gg/s9ymqyG4Vu" target="_blank">Join
                                    Discord</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8 m-auto col-lg-6 col-xl-4">
                        <img src="./../../img/bark4.svg"></img>
                        <!-- <div id="lottie"></div>-->
                    </div>
                </div>

                <!-- go down -->
                <button class="scrollDown">Scroll for more</button>
                <!-- /go down -->

                <!-- floating lines -->
                <div class="line line-xl"></div>
                <div class="line line-mp"></div>
            </div>
        </div>
    </div>
</section>