<section class="crypto-section partners-section" id="section5">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-md-10 d-flex flex-column justify-content-center align-items-center crypto-section__content">
                <div class="row w-100">
                    <div class="col-md-12 text-center">
                        <h1 class="title"><span>Strategic</span><br>Partners</h1>
                    </div>
                </div>
                <div class="row w-100 align-items-center partners-section__row wow fadeInUp" data-wow-duration="1.6s">
                    <div class="col-md-3 col-lg-3 col-xl-2 partners-section__blk">
                        <a href="#" target="_blank">
                            <img src="images/partners/1.png" alt="partner-logo" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 partners-section__blk">
                        <a href="#" target="_blank">
                            <img src="images/partners/2.png" alt="partner-logo" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 partners-section__blk">
                        <a href="#" target="_blank">
                            <img src="images/partners/3.png" alt="partner-logo" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 partners-section__blk">
                        <a href="#" target="_blank">
                            <img src="images/partners/4.png" alt="partner-logo" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 partners-section__blk">
                        <a href="#" target="_blank">
                            <img src="images/partners/5.png" alt="partner-logo" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 partners-section__blk">
                        <a href="#" target="_blank">
                            <img src="images/partners/6.png" alt="partner-logo" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="row w-100">
                    <div class="col-md-12 text-center">
                        <h1 class="title"><span>Media</span> <br>Partners</h1>
                    </div>
                </div>
                <div class="row w-100 align-items-center justify-content-center partners-section__row wow fadeInUp"
                    data-wow-duration="1.6s" data-wow-delay=".2s">
                    <div class="col-md-3 col-lg-3 col-xl-2 partners-section__blk">
                        <a href="#" target="_blank">
                            <img src="images/partners/8.png" alt="partner-logo" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 partners-section__blk">
                        <a href="#" target="_blank">
                            <img src="images/partners/7.png" alt="partner-logo" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 partners-section__blk">
                        <a href="#" target="_blank">
                            <img src="images/partners/2.png" alt="partner-logo" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 partners-section__blk">
                        <a href="#" target="_blank">
                            <img src="images/partners/6.png" alt="partner-logo" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>