<section class="crypto-section partners-section" id="exchanges">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-md-10 d-flex flex-column justify-content-center align-items-center crypto-section__content">
                <div class="row w-100">
                    <div class="col-md-12 text-center">
                        <h1 class="title"><span>Exchanges</span></h1>
                    </div>
                </div>
                <div class="row w-100 align-items-center text-center partners-section__row wow fadeInUp"
                    data-wow-duration="1.6s">
                    <div class="col-md-12 col-lg-12 col-xl-12 partners-section__blk">
                        <a href="#" target="_blank">
                            <img src="https://static.wikia.nocookie.net/b896ebaf-c39b-4102-a4f5-b47292669152"
                                alt="partner-logo" class="img-fluid">
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>