<section class="crypto-section roadmap-section" id="section2">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-md-10 d-flex flex-column justify-content-center crypto-section__content">
                <div class="row w-100">
                    <div class="col-md-12 text-center">
                        <h1 class="section-title title">Roadmap</span></h1>
                    </div>
                </div>
                <div class="row w-100">
                    <div class="col-md-12 wow fadeInUpBig" data-wow-duration="1.6s">
                        <div id="roadmapGraph"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>