<section class="crypto-section app-section" id="wallets">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-md-10 d-flex align-items-center crypto-section__content">
                <div class="row w-100 align-items-center">
                    <div class="col-md-8 m-auto col-lg-6 offset-xl-1 col-xl-5">
                        <div class="app-section__bg wow fadeInLeftBig" data-wow-duration="1.6s">
                            <img src="images/app-mockup.svg" alt="app-mockup" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-5">
                        <div class="app-section__content wow fadeInRightBig" data-wow-duration="1.7s">
                            <h1 class="title">Wallets for your<br> b<span>ARK </span>Tokens</h1>
                            <p class="">
                                Plugins are currently being developed to safely store your bARK tokens in<br> the Ark
                                Desktop Wallet
                                or in the Qredit Motion Wallet.
                            </p>

                            <!--
                            <a href="#" class="btn btn-danger">Android App</a>
                            <a href="#" class="btn btn-primary">Ios App</a>-->
                        </div>
                    </div>
                </div>
                <!-- floating lines -->
                <div class="line line-xl"></div>
                <div class="line line-mp"></div>
            </div>
        </div>
    </div>
</section>